<?php

return [
    'certificado' => __DIR__ . '/certificate/certificate.pem',
    'senha' => 'xxx',
    'opcoes' => [
        'tpAmbiente' => 'T',
        'estacao' => 'xxx',
        'marcacoes' => [
            'CONVENIO.COD-CONVENIO' => [
                'apelido' => 'Convenio'
            ],
            'PAGADOR.NUM-DOC' => [
                'apelido' => 'CPF'
            ],
            'PAGADOR.NOME' => [
                'apelido' => 'Nome',
                'formatador' => function($value, $marcacao) {
                    if (strlen($value) <= $marcacao['tamanho']) {
                        return $value;
                    }
                    return substr($value, 0, 40);
                },
            ],
            'PAGADOR.ENDER' => [
                'apelido' => 'Endereco'
            ],
            'PAGADOR.BAIRRO' => [
                'apelido' => 'Bairro'
            ],
            'PAGADOR.CIDADE' => [
                'apelido' => 'Cidade'
            ],
            'PAGADOR.UF' => [
                'apelido' => 'UF'
            ],
            'PAGADOR.CEP' => [
                'apelido' => 'CEP'
            ],
            'TITULO.NOSSO-NUMERO' => [
                'apelido' => 'NossoNumero'
            ],
            'TITULO.VL-NOMINAL' => [
                'apelido' => 'Valor'
            ],
        ],
    ],
    'parametros' => [
        'Convenio' => 'xxx',
        'CPF' => 'xxx',
        'Nome' => 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx',
        'Endereco' => 'xxx',
        'Bairro' => 'xxx',
        'Cidade' => 'xxx',
        'UF' => 'xxx',
        'CEP' => 'xxx',
        'NossoNumero' => 1,
        'Valor' => 15,
    ],
];
