<?php

return [
    'certificado' => __DIR__ . '/certificate/certificate.pem',
    'senha' => 'xxx',
    'opcoes' => [
        'tpAmbiente' => 'T',
        'estacao' => 'xxx',
    ],
    'parametros' => [
        'CONVENIO.COD-CONVENIO' => 'xxx',
        'PAGADOR.NUM-DOC' => 'xxx',
        'PAGADOR.NOME' => 'xxx',
        'PAGADOR.ENDER' => 'xxx',
        'PAGADOR.BAIRRO' => 'xxx',
        'PAGADOR.CIDADE' => 'xxx',
        'PAGADOR.UF' => 'xxx',
        'PAGADOR.CEP' => 'xxx',
        'TITULO.NOSSO-NUMERO' => 1,
        'TITULO.VL-NOMINAL' => 15,
    ],
];
